<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-local-storage.js"></script>
		<script type="text/javascript" src="js/moment.min.js"></script>
		<script type="text/javascript" src="js/suncalc.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
		
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/datepicker3.css">
		<link rel="stylesheet" href="css/style.css">
		
		<script type="text/javascript" charset="utf-8" src="cordova-2.5.0.js"></script>
		
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <script>
        	/**
Phonegap DatePicker Plugin
https://github.com/sectore/phonegap3-ios-datepicker-plugin
Copyright (c) Greg Allen 2011
Additional refactoring by Sam de Freyssinet
Rewrite by Jens Krause (www.websector.de)
MIT Licensed
*/
var exec = require('cordova/exec');
/**
* Constructor
*/
function DatePicker() {
this._callback;
}
/**
* show - true to show the ad, false to hide the ad
*/
DatePicker.prototype.show = function(options, cb) {
var padDate = function(date) {
if (date.length == 1) {
return ("0" + date);
}
return date;
};
var formatDate = function(date){
date = date.getFullYear()
+ "-"
+ padDate(date.getMonth()+1)
+ "-"
+ padDate(date.getDate())
+ "T"
+ padDate(date.getHours())
+ ":"
+ padDate(date.getMinutes())
+ ":00Z";
return date
}
if (options.date) {
options.date = formatDate(options.date);
}
if (options.minDate) {
options.minDate = formatDate(options.minDate);
}
if (options.maxDate) {
options.maxDate = formatDate(options.maxDate);
}
var defaults = {
mode: 'date',
date: new Date(),
allowOldDates: true,
allowFutureDates: true,
minDate: '',
maxDate: '',
doneButtonLabel: 'Done',
doneButtonColor: '#0000FF',
cancelButtonLabel: 'Cancel',
cancelButtonColor: '#000000',
clearButtonLabel: 'Clear',
clearButtonColor: '#FF0000',
clearButton: false,
x: '0',
y: '0'
};
for (var key in defaults) {
if (typeof options[key] !== "undefined")
defaults[key] = options[key];
}
this._callback = cb;
exec(null,
null,
"DatePicker",
"show",
[defaults]
);
};
DatePicker.prototype._dateSelected = function(date) {
var d;
if(date === "cancel" || date === "clear") {
d = date;
} else {
d = new Date(parseFloat(date) * 1000);
}
if (this._callback)
this._callback(d);
}
var datePicker = new DatePicker();
module.exports = datePicker;
// Make plugin work under window.plugins
if (!window.plugins) {
window.plugins = {};
}
if (!window.plugins.datePicker) {
window.plugins.datePicker = datePicker;
}
			
            var app = angular.module('app', ['LocalStorageModule']);

			app.controller('AstronomicalDataController', function($scope, localStorageService, $timeout, $http) {
				
				$scope.view = "main";
				
				$scope.date = new Date();
				$scope.found = [];
				$scope.version = "0.13";
				
				$scope.defaultSettings = {
					lat: 51.985103,
					lng: 5.898730,
					city: "Amsterdam",
					country: "NL",
					locations: [ { city: 'Arnhem', lat: 51.985103, lng: 5.898730, country: "NL" } ]
				}
				
				$scope.settings = localStorageService.get('settings'+$scope.version)||$scope.defaultSettings;
				
				$scope.$watch('settings', function(newValue, oldValue, scope) {
					localStorageService.add('settings'+$scope.version,JSON.stringify(newValue));
				}, true);
				
				$scope.$watch('date', function(newValue, oldValue, scope) {
					$scope.update();
				}, true);
				
				$scope.init = function(){
					
					var options = {
					  date: new Date(),
					  mode: 'date'
					};
					
					window.plugins.show(options, function(date){
					  alert("date result " + date);  
					});
					
					$('.datepicker').datepicker({
						todayHighlight: true,
						autoclose: true,
						todayBtn: true
					}).on('changeDate', function(e){
						if (e.date != undefined && e.date.getTime() != $scope.date.getTime()){
							$scope.date = e.date;
						}
						else {
							$scope.date = new Date();
							$(this).datepicker('update', $scope.date);
						}
	
						$scope.$apply();
						
						$(this).datepicker('hide');
					});
					
					// Set initial location
					if ($scope.settings.locations.length == 0) {
						$scope.getGeoLocation();
					}
					
					$scope.update();
				}
				
				$scope.update = function(){
					$scope.times = SunCalc.getTimes($scope.date, $scope.settings.lat, $scope.settings.lng);
				}
				
				$scope.getGeoLocation = function(findCity){
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(function(position){
							
							$http.get("https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20geo.placefinder%20where%20text%3D%22" + position.coords.latitude + "%2C%20" + position.coords.longitude + "%22%20and%20gflags%3D%22R%22&format=json&diagnostics=true&callback=")
							.success(function(response) {
								if (findCity){
									$scope.found = [];
								
									var foundCountry = response.query.results.Result.countrycode;
									var foundCity = response.query.results.Result.city;
									var foundLat = position.coords.latitude;
									var foundLng = position.coords.longitude;
									
									$scope.found.push({ country: foundCountry, city: foundCity, lat: foundLat, lng: foundLng });
									
									$scope.searchCity = foundCity + ", " + foundCountry;
								}
								else {
									$scope.settings.city = response.query.results.Result.city;
									$scope.settings.lat = position.coords.latitude;
									$scope.settings.lng = position.coords.longitude;
								}
							});
							
						});
					}
				}
				
				$scope.getGeoCity = function(){
					
					$http.get("https://query.yahooapis.com/v1/public/yql?q=SELECT%20*%20FROM%20geo.places%20WHERE%20text%3D%22" + $scope.searchCity + "%22%20&format=json&diagnostics=true&callback=")
					.success(function(response) {
						
						// Oude resultaten wegdoen
						$scope.found = [];
						
						if (response.query.results != undefined && response.query.results.place != undefined && response.query.results.place.centroid != undefined){
							
							var foundCountry = response.query.results.place.country.code;
							var foundCity = response.query.results.place.name;
							var foundLat = response.query.results.place.centroid.latitude;
							var foundLng = response.query.results.place.centroid.longitude;
							
							$scope.found.push({ country: foundCountry, city: foundCity, lat: foundLat, lng: foundLng });
							
						}
						else if (response.query.results != undefined && response.query.results.place[0] != undefined){
							
							for (var i = 0;i<response.query.results.place.length;i++){
								var foundCountry = response.query.results.place[i].country.code;
								var foundCity = response.query.results.place[i].name;
								var foundLat = response.query.results.place[i].centroid.latitude;
								var foundLng = response.query.results.place[i].centroid.longitude;
								
								$scope.found.push({ country: foundCountry, city: foundCity, lat: foundLat, lng: foundLng });
							}
						}
						else {
							$scope.foundCountry = undefined;
							$scope.foundCity = undefined;
							$scope.foundLat = undefined;
							$scope.foundLng = undefined;
						}
					});
					
				}
				
				$scope.incrementDays = function(addDays){
					$scope.date.setDate($scope.date.getDate() + addDays);
				}
				
				$scope.toggleSettings = function(){
					if ($scope.view != "settings"){
						$scope.preView = $scope.view;
						$scope.view = "settings";
					} 
					else {
							$scope.view = $scope.preView;
					}
				}
				
				$scope.selectCity = function(location){
					$scope.settings.locations.push(location);
				}
				
				$scope.removeLocation = function(index){
					$scope.settings.locations.splice(index,1);
				}
				
				
				$scope.setCity = function(location){
					$scope.settings.city = location.city;
					$scope.settings.lat = location.lat;
					$scope.settings.lng = location.lng;
					$scope.settings.country = location.country;
					$scope.update();
				}
				
				$scope.getTime = function(){
					return new Date().getTime();
				}
				
				$scope.keyupCity = function(){
					$scope.lastKeyupCityTime = new Date().getTime();
					$timeout(function(){
			
						if (new Date().getTime() - $scope.lastKeyupCityTime > 499){
							$scope.lastKeyupCityTime = new Date().getTime();
							$scope.getGeoCity();
							
						}
					},500);
				}
				
            });
			
        </script>
    </head>
    <body ng-app="app">
		<div ng-controller="AstronomicalDataController">
		
			<nav class="navbar navbar-default">
			  <div class="container-fl">
			
				<div class="navbar-head">
			
					<span class="glyphicon glyphicon-cog btn btn-primary navbar-toggle"  ng-class="{'btn-highlight': view == 'settings'}" ng-click="toggleSettings()"></span>

					<a class="navbar-brand" href="#">Sunrise</a>
				</div>

			  </div>
			</nav>
			
			<div class="main" ng-show="view == 'main'">
			
				<nav class="navbar navbar-default" id="buttonBar">
				  <div class="container-fl">
			
					<div class="navbar-head row">
						<table style="width:100%;">
							<tr>
								<td class="buttonCell" id="buttonCell1" style="width:60px;">
						
									<span class="glyphicon glyphicon-chevron-left btn btn-primary navbar-toggle" style="float:left!important;margin-left: 15px;margin-right: 0px!important;" ng-click="incrementDays(-1)"></span>
									
									<span class="glyphicon glyphicon glyphicon-globe btn btn-primary navbar-toggle" ng-class="{ hidden: settings.locations.length == 0 }" data-toggle="dropdown" style="float:left!important;margin-left: 15px;"></span>
									<ul class="dropdown-menu">
										<li>
											<a href="#" ng-click="getGeoLocation()">Current location</a>
										</li>
										<li ng-repeat="location in settings.locations track by $index">
											<a href="#" ng-click="setCity(location)">{{location.city}}, {{location.country}}</a>
										</li>
									</ul>
									
								</td>
						
								<td class="text-center" >
							
									<span style="font-size: 18px; line-height: 20px; padding: 15px; display:block;" id="textCell">
										<strong style="font-size: 24px;">{{settings.city}}</strong><br />
										{{date | date:'dd-MM-yyyy' }}
									</span>
					
								<td class="buttonCell" id="buttonCell2" style="width:60px;">
									<span class="glyphicon glyphicon-chevron-right btn btn-primary navbar-toggle" style="margin-right: 15px!important;" ng-click="incrementDays(1)"></span>
									<span class="glyphicon glyphicon glyphicon-calendar btn btn-primary navbar-toggle datepicker" style="margin-right: 15px!important;" ></span>
									
								</td>
							</tr>
						</table>
					</div>

					
				  </div>
				</nav>
				
				<div class="container-fluid">
					<div class="row">
						
					</div>
					<div class="astronomicalDawn row">
						<div class="col-xs-12">
							{{times.nightEnd | date:'HH:mm'}} Astronomische ochtendschemering
						</div>
					</div>
					
					<div class="nauticalDawn row">
						<div class="col-xs-12">
							{{times.nauticalDawn | date:'HH:mm'}} Nautische ochtendschemering
						</div>
					</div>
					<div class="dawn row">
						<div class="col-xs-12">
							{{times.dawn | date:'HH:mm'}} Burgerlijke ochtendschemering
						</div>
					</div>
				
					<div class="sunrise row">
						<div class="col-xs-12">
							{{times.sunrise | date:'HH:mm'}} Zonsopgang
						</div>
					</div>
				
					<div class="goldenHourEnd row">
						<div class="col-xs-12">
							{{times.goldenHourEnd | date:'HH:mm'}} Golden hour eindigd
						</div>
					</div>
					<div class="solarNoon row">
						<div class="col-xs-12">
							{{times.solarNoon | date:'HH:mm'}} Zon op hoogste punt
						</div>
					</div>
					<div class="goldenHour row">
						<div class="col-xs-12">
							{{times.goldenHour | date:'HH:mm'}} Golden hour begint
						</div>
					</div>
			
					<div class="sunset row">
						<div class="col-xs-12">
							{{times.sunset | date:'HH:mm'}} Zonsondergang
						</div>
					</div>
			
					<div class="dusk row">
						<div class="col-xs-12">
							{{times.dusk | date:'HH:mm'}} Burgerlijke avondschemering 
						</div>
					</div>
					<div class="nauticalDusk row">
						<div class="col-xs-12">
							{{times.nauticalDusk | date:'HH:mm'}} Nautische avondschemering
						</div>
					</div>
					<div class="astronomicalDusk row">
						<div class="col-xs-12">
							{{times.night | date:'HH:mm'}} Astronomische avondschemering
						</div>
					</div>
				</div>
				
				
				<span ng-init="init()"></span>
			</div>
			<div class="settings" ng-show="view == 'settings'">
				<div class="row">
			
					<div class="col-xs-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<label>Selecteer locatie</label>
									<div class="input-group">
										
										<input type="text" class="form-control" placeholder="Plaats" ng-model="searchCity" ng-keyup="keyupCity()">
										<span class="input-group-addon glyphicon glyphicon-map-marker btn btn-primary" id="basic-addon2" style="padding:0px 50px 0px 50px" ng-click="getGeoLocation(true)"></span>
									</div>
									<span class="spin glyphicon glyphicon-refresh" ng-show="getTime() - lastKeyupCityTime < 500 && getTime() - lastKeyupCityTime > 250"></span>
									
									<div ng-show="found.length > 0">
										<label>Gevonden locatie(s)</label>
										<ul class="list-group">
											<li class="list-group-item" ng-repeat="location in found track by $index">
												<span class="glyphicon glyphicon glyphicon-plus btn btn-default pull-right" style="line-height: normal;" ng-click="selectCity(location)"></span>
												{{location.city}}, {{location.country}}  
											</li>
										</ul>
									</div>
									
									<hr />
									
									<div ng-show="settings.locations.length > 0">
										<label>Mijn locaties</label>
										<ul class="list-group" >
											<li class="list-group-item" ng-repeat="location in settings.locations track by $index">
												<span class="glyphicon glyphicon glyphicon-remove btn btn-default pull-right" style="line-height: normal;" ng-click="removeLocation($index)"></span>
												{{location.city}}, {{location.country}}  
											</li>
										</ul>
									</div>
								</div>
					
							</div>
						</div>
					
				</div>
			</div>
		</div>

    </body>
</html>
